
body {
	max-width: 100%;
	margin: 0;
	padding: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: 17px;
	line-height: 1.5em;
	color: #000;
	background-color: #498b98;
}

p {
	text-align: justify;
}

h5 {
	color: rgb(178, 64, 54);
}

.italic {
	font-style: italic;
}

.wrapper {
	max-width: 1000px;
	margin: 0 auto;
	background-color: #FFF;
	padding: 10px;
}
.header {
	// margin: 1em 0 2em;
	text-align: center;
}
.header .logo {
	vertical-align: bottom;
	text-align: left;
	margin: 0 1em 0 0;
	transform: translate(160px, 25px);
}
.header .logo.level1 {
	transform: translate(270px, 25px);
}
.header .logo.level2 {
	transform: translate(400px, 25px);
}
.header .logo.level3 {
	transform: translate(500px, 25px);
}
.header .logo.level4 {
	transform: translate(600px, 25px);
}
.header .logo.level5 {
	transform: translate(730px, 25px);
}

.header .logo img{
	height: 90px;
}

.header:has(.nav a:hover) .header .logo {
	transform: translate(260px, 25px);
}

.header .nav {
	display: inline-block;
	vertical-align: bottom;
	list-style: none inside;
	text-align: center;
	margin-bottom: 2px;
}
.header .nav li {
	display: inline-block;
	margin-left: -5px;
}
.header .nav li.selected {
	border-top: 3px solid #444;
	border-bottom: 3px solid #444;
}

.header .nav li {
	border-top: 3px solid #498b98;
	border-bottom: 3px solid #498b98;
}

.menu li.selected a {
	color: rgb(110, 135, 156) !important;
}

.menu li.selected:before {
	content: ">";
	color: rgb(110, 135, 156);
}

.header .nav a {
	padding: 4px 10px;
	text-decoration: none;
	color: #666;
}
.header .nav a + a {
	margin-left: 20px;
	padding: 4px 10px;
	text-decoration: none;
	color: #666;
}
.header .nav a:hover,
.header .nav a:focus {
	text-decoration: none;
	color: #000;
	background-color: rgba(73, 139, 152, 0.3);
}

.bandeau {
	text-align: center;
}

.bandeau img {
	max-width: 100%;
}

.photo {
	max-width: 45%;
	max-height: 400px;
	vertical-align: middle;
	display: inline-block;
	padding-bottom: 5px;
}

.photo img{
	max-width: 100%;
	max-height: 400px;
}
